/*Initial setup*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*page setup */

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    background: #181719;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
}

/*nav bar style start*/

.header {
    display: flex;
    justify-content: space-between;
    width: auto;
    margin: 1.9rem 1.2rem;
}

.logo-name {
    display: inline-block;
    border: 0.1rem solid white;
    padding: 0.8rem;
    font-family: 'Crimson Pro', serif;
    font-weight: 200;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.hamburger-btn {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    width: 2.85rem;
    height: 1.9rem;
    z-index: 2;
}

.hamburger-btn:hover {
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    transform: scale(1.1);
}

.hamburger-icon {
    display: inline-block;
    height: 0.4rem;
    width: 2.85rem;
    background-color: white;
    vertical-align: middle;
}

.hamburger-icon::before, .hamburger-icon::after {
    content: '';
    position: absolute;
    height: 0.4rem;
    width: 2.85rem;
    background-color: white;
}

.hamburger-icon::before {
    transform: translateY(-0.75rem);
}

.hamburger-icon::after {
    transform: translateY(0.75rem);
}

.nav-list {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    display: none;
    position: absolute;
    transition: all 0.3 ease-in-out;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #181719;
    position: fixed;
    z-index: 1;
}

.nav-list-open {
    display: block;
}

.nav-ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.nav-link {
    display: block;
    color: white;
    width: fit-content;
    margin: 0 auto;
    padding: 1.6rem 0;
}

.nav-link a {
    text-decoration: none;
    color: white;
    transition: all 0.1s ease-in-out;
}

.nav-link:hover {
    font-weight: 700;
    transform: scale(1.2);
}

/*nav bar style end*/

/*main style*/

.head-line {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 3.6rem;
    margin: 0 1.2rem;
}

.welcome-text {
    margin-top: 2.5rem;
    font-size: 1.4rem;
    line-height: 1.7rem;
    margin-left: 1.2rem;
    width: 25rem;
}

.link-read-more {
    display: block;
    font-weight: 600;
    font-size: 1.4rem;
    text-decoration: none;
    color: white;
    margin: 2.5rem 1.2rem;
    width: fit-content;
}

.link-read-more::after {
    content: '→';
    margin-left: 1.5rem;
    font-weight: 600;
    font-size: 2rem;
}

.link-read-more:hover {
    transform: scale(1.1);
}

.image-container {
    margin: 0 2vw;
    width: 96vw;
    text-align: center;
}

.image-container .interior-desing {
    width: 100%;
}

.image-container .author-container {
    position: relative;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    bottom: 6.9rem;
    background-color: #181719;
    width: 80vw;
    height: 16rem;
    margin: 0 auto;
    padding: 1.5rem 1.9rem;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
}

.image-container .author-container img {
    margin-left: 1.5rem;
    margin-top: 0.8rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    display: inline-block;
}

.image-container .author-container .author-credentials {
    flex-basis: 50%;
    height: fit-content;
    margin-left: 1.25rem;
}

.image-container .author-container .author-name {
    display: block;
    position: relative;
    font-size: 1.2rem;
    margin-top: 1.25rem;
}

.image-container .author-container .author-sub-text {
    margin-top: 1rem;
    font-size: 1rem;
    display: block;
    color: #828282;
}

.image-container .author-container .author-name, .image-container .author-container .author-sub-text {
    font-weight: 500;
}

.image-container .author-container .credit-text {
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 1.8rem;
    width: 21rem;
    margin-top: 0.8rem;
    line-height: 3rem;
    text-align: left;
}

/*main style end*/

/*footer style*/

.footer {
    padding: 1rem;
    position: relative;
    display: block;
    margin-top: auto;
    bottom: 0;
    margin-bottom: 1.4rem;
}

.footer .footer-decoration {
    border: 0.1rem solid #A9A9A9;
    width: 70vw;
    margin: 0 auto;
}

.footer p {
    margin-top: 1rem;
    display: block;
    width: 100%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
}

.footer p a {
    color: white;
    text-decoration: none;
}

.footer p a:hover {
    color: #CC5748;
    text-decoration: none;
}

/*footer style end*/

/*responsive style*/

/*navbar-responsivnes*/

@media only screen and (min-width:768px) {
    .header {
        justify-content: space-between;
        width: auto;
        margin: 3vw 5vw;
        margin-bottom: 0;
    }
    /*responsive nav bar style */
    .hamburger-btn {
        display: none;
    }
    .nav-list {
        display: block;
        position: relative;
        width: auto;
        height: 0;
        top: 20%;
        background-color: transparent;
    }
    .nav-ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        height: 0;
    }
    .nav-link {
        display: inline-block;
        padding: 0 3vw;
        transition: all 0.1s ease-in-out;
    }
    .nav-link a {
        transition: all 0.1s ease-in-out;
    }
    .nav-link:hover {
        transform: scale(1.2);
    }
    /*responsive nav bar style end*/
    .head-line {
        margin-top: 8rem;
        font-size: 4.8rem;
        display: inline-block;
        margin-right: 1rem;
    }
    .welcome-text {
        width: 41rem;
        font-size: 2.4rem;
        line-height: 30px;
        margin-top: 5rem;
    }
}

@media only screen and (min-width:768px) and (max-width:1023px) {
    .text-container {
        display: flex;
        justify-content: space-around;
        margin-bottom: 3rem;
    }
    .head-line {
        margin-left: 7.7rem;
    }
    .welcome-text-container {
        display: inline-block;
    }
    .link-read-more {
        margin-top: 4.8rem;
        font-size: 1.8rem;
        margin-bottom: 0;
    }
    .image-container .author-container {
        height: 10rem;
    }
    .image-container .author-container .author-credentials {
        flex-grow: 2;
    }
    .image-container .author-container .credit-text {
        text-align: center;
    }
}

@media only screen and (min-width: 1024px) {
    .main {
        display: flex;
        margin: 16rem 7.7rem;
        align-items: center;
        justify-content: space-around;
    }
    .text-container {
        margin-right: 10rem;
    }
    .head-line {
        font-size: 4.8rem;
    }
    .image-container {
        margin: 0;
    }
    .image-container .author-container {
        position: relative;
        margin-right: 5rem;
        width: 50%;
        height: 19rem;
        text-align: left;
        display: flex;
        flex-wrap: wrap;
    }
    .image-container .author-container .author-credentials {
        flex-basis: 60%;
        height: fit-content;
        margin-left: 1.25rem;
    }
    .image-container .author-container .author-name {
        display: block;
        position: relative;
        font-size: 1.2rem;
        margin-top: 1.25rem;
    }
    .image-container .author-container .author-sub-text {
        margin-top: 1rem;
        font-size: 1rem;
        display: block;
        color: #828282;
    }
    .image-container .author-container .author-name, .image-container .author-container .author-sub-text {
        font-weight: 500;
    }
    .image-container .author-container .credit-text {
        font-family: 'Lora', serif;
        font-weight: 700;
        font-size: 1.8rem;
        width: 21rem;
        margin-top: 0.8rem;
        line-height: 3rem;
        text-align: left;
    }
}